* {
	margin: 0px;
  padding: 0px;
  border: 1px solid #eee;
}

body {
  height: 100vh;
  background-image: url('assets/bg.jpg');
  background-size: cover;
  display: grid;
  place-items: center;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 48px;
}

.card {
  background: #fff;
}

.add-book {
  position: relative;
  width: 100%;
}

.add-book-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
/*  width: 25%;
  height: 50%;*/
  border: 3px solid #999999;
}

.form {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}